body {
  font-family: "Courier New", Courier;
  color: #0F0;
  background-color: black;
  font-size: 14px;
  margin: 10px;
}

a:link, a:visited, a:active {
  color: #0F0;
}

.larger {
  font-size: 17px;
}

.goaway {
  text-align: right;
  margin: 20px;
  font-size: 12px;
}

#copyright {
  float: right;
}

#btc, #ohgodmyeyes {
  text-align: center !important;
  padding-bottom: 15px;
}

#ffpropaganda {
  text-align: center !important;
  border: 5px solid red;
  padding: 5px;
  color: red;
  margin-bottom: 15px;
}

#ffpropaganda a:link,
#ffpropaganda a:visited,
#ffpropaganda a:active {
  color: red;
}

footer {
  background-color: #0F0;
  color: black;
  padding: 2px;
  margin: 20px;
  text-align: center;
  font-size: 13px;
}

footer a:link,
footer a:visited,
footer a:active {
  color: black;
}

h1, h2 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  display: inline;
}

h1 {
  font-size: 17px;
}

pre {
  border: 5px solid green;
  padding: 5px;
  white-space: pre-wrap;
  font-size: 12px;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

.greenbox {
  border: 5px solid green;
  padding: 5px;
}
